.content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 1.5rem;
  gap: 25px;
}

.line {
  border-right: 2px solid white;
  font-family: "Rubik", sans-serif;
  font-size: 2rem;
  overflow: hidden;
  white-space: nowrap;
}

.animacao {
  animation: cursor 800ms steps(40) infinite normal,
    digitando 5s steps(50) normal;
}

.line-mobile {
  display: none;
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 1rem;
  font-family: "Rubik", sans-serif;
}

@keyframes digitando {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes cursor {
  from {
    border-right-color: #fff;
  }
  to {
    border-right-color: transparent;
  }
}

@media (max-width: 710px) {
  .content {
    display: flex;
    flex-direction: column;
  }

  .animacao {
    display: none;
  }

  .line-mobile {
    display: block;
  }
}
