.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #c0c0c0;
  margin-top: 3rem;
  height: 4rem;
}

.conteudo-final {
  display: flex;
  justify-content: center;
  align-items: center;
}
