.top {
  background-color: #1e1c1f;
  width: 100vw;
  float: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: "Rubik", sans-serif;
  font-size: 2rem;
  margin-left: 2.5rem;
  padding: 0.5rem;
  color: #fff;
  font-weight: bold;
}

ul {
  float: right;
}

ul li {
  list-style: none;
  display: inline-block;
  gap: 50px;
  margin-right: 50px;
}

li a {
  display: inline-block;
  text-decoration: none;
  background-color: transparent;
  border-bottom: 1px solid transparent;
  padding: 6px;
  color: #fff;
  transition: 0.6s;
}

li a:hover {
  border-bottom: 1px solid rgb(255, 255, 255);
}
