.contato {
  margin-top: 40px;
  max-width: 1400px;
  margin: 0 auto;
}

.contato-titulo {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  margin: 2em 0em;
  font-size: 2em;
}

.contato-grid {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.contato-icons {
  font-size: 2.5em;
  cursor: pointer;
  transition: 0.4s ease;
  &:hover {
    scale: 1.2;
  }
}
