.footer {
  background-color: #1312129a;
  text-align: center;
  padding: 20px;
  margin-top: 60px;
  p {
    font-family: "" sans-serif;
  }
}

.top {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 50px;
  bottom: 80px;
  cursor: pointer;
  animation: top 3.5s infinite alternate;
}

.seta {
  color: #000;
  font-size: 1.7em;
}

@keyframes top {
  from {
    bottom: 80px;
  }

  to {
    bottom: 100px;
  }
}
