.article {
  margin-top: 120px;
}

.introducao {
  max-width: 1400px;
  margin: 0 auto;
  padding: 60px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.introducao-titulo {
  font-family: "Nunito";
  text-transform: uppercase;
  font-size: 2.5em;
  font-weight: 200;
}

.front-end {
  color: #5ca7d3;
}

.introducao-paragrafo {
  margin-top: 2em;
  font-size: 0.5em;
  font-family: "Roboto", sans-serif;
  line-height: 1.3;
  letter-spacing: 1.2px;
}

.wave-hand {
  display: inline-block;
  animation: wave 2.5s ease infinite;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.js {
  color: #f0db4f;
  font-weight: bold;
}

.sass {
  color: #cd6799;
  font-weight: bold;
}

.bootstrap {
  color: #553c7b;
  font-weight: bold;
}

.react {
  color: #61dbfb;
  font-weight: bold;
}

.right {
  font-size: 8em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.animation {
  display: block;
  animation: scale 3s ease infinite alternate;
}

@keyframes scale {
  from {
    scale: 1;
  }

  to {
    scale: 1.2;
  }
}
