// Header
@media (max-width: 600px) {
  .nav {
    justify-content: space-between;
  }

  .menu-nav {
    display: none;
  }

  .logo {
    font-size: 1.8em;
  }

  .mobile-toggle {
    display: block;
    font-size: 1.8em;
  }

  .mobile-menu {
    display: block;
    width: 90%;
    right: 20px;
  }
}

//Introdução

@media (max-width: 600px) {
  .introducao {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .main {
    margin-top: 0;
  }

  .introducao-titulo {
    font-size: 1.9em;
    text-align: center;
  }
}
