//Geral
@media (max-width: 600px) {
  body {
    background-image: url(../assets/mobile.svg);
    background-repeat: no-repeat;
  }
}

// Header
@media (max-width: 600px) {
  .nav {
    justify-content: space-between;
  }

  .menu-nav {
    display: none;
  }

  .logo {
    font-size: 1.2em;
  }

  .mobile-toggle {
    display: block;
    font-size: 1.2em;
  }

  .mobile-menu {
    display: block;
    width: 100%;
    right: 0px;
  }
}

//Introdução
@media (max-width: 600px) {
  .article {
    margin-top: 0;
  }

  .introducao {
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 20px 0px;
    margin-top: 60px;
  }

  .introducao-titulo {
    font-size: 1.9em;
    text-align: center;
    padding: 0px 8px;
  }

  .right {
    display: none;
  }

  .wave-hand {
    animation: none;
  }
}

//Projetos
@media (max-width: 600px) {
  .main {
    margin-top: 20px;
  }
  .projetos {
    grid-template-columns: 1fr;
    justify-items: center;
    margin-top: 60px;
  }

  .projetos-item {
    width: 350px;
  }

  .github {
    left: 150px;
    bottom: 10px;
    font-size: 3.4em;
  }

  .main-titulo {
    margin: 0px;
    font-size: 1.8em;
  }
}

//Contato
@media (max-width: 600px) {
  .contato-grid {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .contato {
    margin-top: 0px;
  }

  .contato-titulo {
    margin: 2em;
  }
}

//Footer
@media (max-width: 600px) {
  .top {
    right: 20px;
    bottom: 70px;
    animation: none;
  }
}
